# Name: MyRawfinder
# Author: Alberto Duina
# Version: 1.0
# Date: 2010/08/03
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#



Plugins>Unifor3D, "____ShrinkMask___", uni3D.ShrinkMask
Plugins>Unifor3D, "____VolumeStatistics___", uni3D.VolumeStatistics
Plugins>Unifor3D, "____Unifor3D_2017___", uni3D.Unifor3D_2017
Plugins>Unifor3D, "____Uncombined3D_2017__", uni3D.Uncombined3D_2017
Plugins>Unifor3D, "____Unifor3D___", uni3D.Unifor3D_
Plugins>Unifor3D, "____Uncombined3D___", uni3D.Uncombined3D_
Plugins>Unifor3D, "____Mappazza3D___", uni3D.Uncombined3D_MAPPAZZA
Plugins>Unifor3D, "____UncombinedStackComposer___", uni3D.UncombinedStackComposer_
Plugins>Unifor3D, "____ItalianCSV___", uni3D.ItalianCSV_
Plugins>Unifor3D, "____Unifor3D2___", uni3D.Unifor3D_2

