# Name: MyRawfinder
# Author: Alberto Duina
# Version: 1.0
# Date: 2010/08/03
# Requires: ImageJ 1.42q
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins
#



Plugins>Unifor3D, "____Unifor3D___", uni3D.Unifor3D_

